.alert-container {
    position: absolute;
    top: 100%;
    left: 50%; 
    transform: translate(-50%, -50%);
  } 
  a {
    color: #000;
    transition: all 0.25s ease;
  }
  a:hover {
    color: #f44336;
    text-decoration: none;
    outline: none;
  }
.portfolio {
  padding-bottom: 100px;
}
.portfolio .btn:focus, .portfolio .btn:hover, .portfolio .btn.focus.active {
  box-shadow: none !important;
  outline: 0 !important;
}
.portfolio .btn-group .btn {
  border-radius: 0px !important;
  padding-left: 0px;
  font-weight: 700;
}
.portfolio .btn-group .btn:hover {
  color: #f44336;
}
.portfolio .btn-group:not(:first-child) > .btn, .portfolio .btn-group > .btn:not(:first-child) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.portfolio .btn.active {
  color: #f44336;
}

.inner-box {
  position: relative;
}

.inner-box .image {
  position: relative;
  overflow: hidden;
}

.inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
  transition: all 0.3s;
}

.inner-box .image .overlay-box {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
  display: block;
  transition: all 0.6s ease;
  overflow: hidden;
}

.inner-box .image .overlay-box:before {
  position: absolute;
  content: "";
  left: -450px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
  transition: all 0.4s;
  background-color: rgba(47, 50, 56, 0.8);
}

.inner-box:hover .image img {
  transform: scale(1.1);
}

.inner-box:hover .image .overlay-box:before {
  opacity: 1;
  left: 0px;
}

.inner-box:hover .image .overlay-box {
  opacity: 1;
}

.inner-box:hover .image .overlay-box .overlay-content h5 {
  transform: translateX(0px);
}

.inner-box:hover .image .overlay-box .overlay-content p {
  transform: translateX(0px);
}

.inner-box .image .overlay-box .overlay-inner {
  position: absolute;
  left: 0px;
  bottom: 30px;
  z-index: 1;
  padding: 10px 40px;
}

.inner-box .image .overlay-box .overlay-inner .overlay-content i {
  font-size: 28px;
}

.inner-box .image h3 {
  color: #fff;
}

.overlay-content h5 {
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  padding: 0px 8px;
  margin-bottom: 0px;
  transform: translateX(-150px);
  transition: all 0.3s;
}
.overlay-content p {
  font-size: 14px;
  margin-bottom: 0px;
  padding: 0px 8px;
  margin-top: 2px;
  text-transform: capitalize;
  background: rgba(255, 255, 255, 0.9);
  color: #2f3238;
  transform: translateX(-150px);
  transition: all 0.5s;
}

.user-info {
  background: transparent;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h2,
p {
  margin: 10px 0;
}



h5:hover{
  color:#2c2d30;
}
h2{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.navbar{
  height:150px;
}
.nav-link,.NavDropdown{
  font-size: larger;

}
.nav-link:hover,.NavDropdown:hover{
  background-color:rgb(230, 220, 206);
  color:rgb(182, 119, 36);
  
}


.footer {
  padding: 20px 0px;
  background: #000;
  height: 100px;
}


  